.app-container {
    background-color: black;
}

.body {
    background-color: gray;
}

.button-open {
    color: white;
}

.h2-title {
    color: white;
    background-color: gray;
}
.button-open {
    background: pink;
    color: white;
    font: inherit;
    padding: 0.5px;
    text-decoration: none;
 }

 .card-body {
    background-color: gray;
    align-items: flex-start;
 }

