$backgroundColor: #1A1E23;
$textColor: #FFFFFF;
$elementsColor: #ffc107;


.image-style {
  width: 286px;
  height: 400px;
}

.card-style {
  margin-left: 18px;
  margin-bottom: 10px;
  margin-top: 8px;
  text-decoration: none;
}




