.movie-title {
    color: white;
}

.movie-description {
    color: white;
}

.label {
    font-size: x-large;
}

.value {
    font-size: x-large;
}


.add-list__button {
    margin-left: 10px;
  }
  
  .movie-view__card {
    margin: 20px;
  }

  .title-style {
    background-color: black;
  }