$backgroundColor: #1A1E23;
$textColor: #FFFFFF;
$elementsColor: #ffc107;


// .navbar-container {
//   background-color: darkgray;
// }

.navbar-elements__style {
  background-color: white;
}

a {
  background-color: darkgray;
}
